


body, h1,  p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  h3{
    position: relative;
    margin-left: 850px;
    font-weight: 600px;
    font-size: 40px;
  }

  body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    
  }
  

  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
  }
  .partido flex-column just-start{
    border-color: red;
  }

  .partido {
    background-color: #ffffff;
    border-radius: 500px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: darkred;
    border-style:ridge;
    min-width: 500px;

  }
  

  .fecha {
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
  }
  

  .local, .vs, .visitante, .info {
    font-size: 18px;
    color: #666666;
    margin-bottom: 10px;
    position:relative;
    align-items: flex-end;
    grid-template-columns: minmax(1,3);
    content:normal;
    
  }
  

  .btn {
    background-color: #e74c3c;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  

  .btn:hover {
    background-color: #c0392b;
  }
  

  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.logoIzquierda{

width: 100px;

margin-top:50px
}
.logoDerecha{
  
   width: 100px;
    
    margin-left: 500px;
    margin-top: 50px;
}
.logos{
    align-items: center;
    display:flex;
}


.informacion{
    text-align: center;
    position:relative;
    margin-bottom : 10px;
   
    
}

.buttonInputLeft{
    
    align-items: left;
    place-items:initial;
    width: 4em;
    height: 4em;
    margin-right: 600px;
    margin-top: 20px;
    font-size: 13px;
    
}
.buttonInputRight{
    
    align-items: right;
    display:flex;
    width: 4em;
    height: 4em;
    margin-right: -600px;
    margin-top: -60px;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.logoTorneo{
    position: relative;
    width: 3em;
    position:flex;
    margin-right:0px;
    margin-left: -50px;
    margin-top:10px;

}
.torneoMain{
    display:flexbox;
    margin-left:50px;
    margin-bottom: 0px;
    
    margin-right:50px
}
.torneo{
    display:relative;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:20px;
    margin-left: 50px;
    padding: 0;
    font-style:oblique;
    font-display:initial;
    color: rgb(#333333,#c0392b, #c0392b);
    font-weight: 900;
    pointer-events:visible;
    top:50%;
    left: 100%;
    font-display:relative;
    font-variant: small-caps;
    font-stretch: extra-condensed;

    border-radius: 10px;
    content: normal;
    font:500
}
.estadio{
    position: absolute;
    display:grid;
    max-width: 400px;
    border-radius: 100em;
    margin-top: 140px;
    min-width: 400px;
    min-height: 200px;
    max-height: 200px;
}
